* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Sans-Serif;
    min-width: 320px;
}

.wrapper {
    max-width: 1440px;
    height: 100vh;
    background-color: #1b2473;
    margin-left: auto;
    margin-right: auto;
    padding: 150px;
}

.form {
    padding-top: 25px;
    padding-left: 45px;
    padding-bottom: 25px;
    padding-right: 45px;
    display: block;
    text-align: left;
    background-color: #FFFFFF;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 30px;
    border-radius: 20px;
    color: #787878;

}

.form__title {
    color: #787878;
    line-height: 50px;
    font-size: 50px;
    top: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
}

.form__input {
    color: #787878;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    width: 99%;
    height: 49px;
    border-radius: 10px;
    margin-bottom: 13px;
}

.form__input::placeholder {
    color: #ccc;
}

.form__lable {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px 0;
}

.form__button {
    background-color: #1A226B;
    display: block;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    line-height: 16px;
    border-radius: 10px;
    text-align: center;
    margin: 52px auto 1px auto;
    padding: 18px 56px;
}

.form__checkbox {
    font-size: 14px;
    line-height: 16px;
    color:#787878;
    height: 24px;
    width: 24px;
    border: 2px solid #787878;
    margin-top: 3px;
}

.form__checkbox-label {
    font-size: 14px;
    line-height: 16px;
    color:#787878;
}

@media (min-width: 320px) and (max-width: 768px) {
    .wrapper {
        width: 100%;
        height: 600px;
        padding: 20px;
    }
    .form {
        width: 100%;
    }
    .form__input {
        font-size: 20px;
    }
}